.possible {
	border: 2px dotted #116DB6;
	background-color: #F26600;
	margin: 10px 10px 10px 10px;
	padding-top: 8px;
	padding-left: 20px;
	padding-bottom: 58px;
	padding-right: 1px;
	width:15%;
	margin:25px 25px 25px 25px;

}

.possible2 {
	border: 2px dotted #116DB6;
	background-color: #F26600;
	margin: 10px 10px 10px 10px;
	padding-top: 8px;
	padding-left: 20px;
	padding-bottom: 58px;
	padding-right: 1px;
	width:30%;
	margin:25px 25px 25px 25px;

}

.btn {
	color:white;
	background-color: #116DB6;
	margin:8px 8px 8px 8px;
	float:left;
}

body {
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/93/Justdial_logo.png);
	background-repeat: no-repeat;
	background-size:cover;

}

h3
{
	font-family: Comic Sans MS;
font-weight: bold;
  color: #116DB6;
  font-size: 32px;
}


p {
	font-family: Comic Sans MS;
font-weight: bold;
  color: #116DB6;
  font-size: 15px;
  padding-left:1200px;
}